services:
 portainer:
  image: 'portainer/portainer:latest'
  restart: always
  container_name: portainer
  ports:
    - '29000:9000'
  volumes:
    - '/var/run/docker.sock:/var/run/docker.sock'
    - './portainer_data:/data'
