# 파일 내용
[Unit]
Description=Enable Wake On LAN
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'for iface in $(ls /sys/class/net/ | grep -v lo | grep en); do /sbin/ethtool -s $iface wol g; done'
# 시스템 종료 시에도 WOL 설정 유지
ExecStop=/bin/sh -c 'for iface in $(ls /sys/class/net/ | grep -v lo | grep en); do /sbin/ethtool -s $iface wol g; done'

[Install]
WantedBy=multi-user.target
