services:
  dokuwiki:
    image: lscr.io/linuxserver/dokuwiki:latest
    container_name: dokuwiki
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./dokuwiki_config:/config
    ports:
      - 80:80
    restart: unless-stoppe
