services:
  documentserver:
    image: onlyoffice/documentserver
    container_name: onlyoffice
    environment:
      - ALLOW_PRIVATE_IP_ADDRESS=true
      - ALLOW_META_IP_ADDRESS=true
      - JWT_ENABLED=true
      - JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiaXRhcGkiLCJ1c2VybmFtZSI6ImpobGltIiwicm9sZSI6ImFkbWluIn0.cLbX9SzteJW9DFTxGlzAcmrPJh5dBNc5bKHHQR7U6jA
    volumes:
      - '/APP/onlyoffice/DocumentServer/db:/var/lib/postgresql'
      - '/APP/onlyoffice/DocumentServer/lib:/var/lib/onlyoffice'
      - '/APP/onlyoffice/DocumentServer/data:/var/www/onlyoffice/Data'
      - '/APP/onlyoffice/DocumentServer/logs:/var/log/onlyoffice'
    restart: always
    ports:
      - '18880:80'
      - '8000:8000'
