services:
    gitlab-ce:
        hostname: 'gitlab.itapi.org'
        ports:
            - '18080:80'
            - '18822:22'
            - '18443:443'
        volumes:
            - '/var/run/docker.sock:/tmp/docker.sock:ro'
            - '/DATA/gitlab-ce/config:/etc/gitlab:rw'
            - '/DATA/gitlab-ce/logs:/var/log/gitlab:rw'
            - '/DATA/gitlab-ce/data:/var/opt/gitlab:rw'
        restart: 'always'
        logging:
            options:
                max-size: 2g
        container_name: 'gitlab'
        environment:
            - 'GITLAB_OMNIBUS_CONFIG=nginx[''redirect_http_to_https''] = false;'
        #image: 'gitlab/gitlab-ce:17.5.5-ce.0'
        #image: 'gitlab/gitlab-ce:17.8.7-ce.0'
        #image: 'gitlab/gitlab-ce:17.11.6-ce.0'
        #image: 'gitlab/gitlab-ce:18.2.8-ce.0'
        #image: 'gitlab/gitlab-ce:18.5.5-ce.0'
        image: 'gitlab/gitlab-ce:18.8.2-ce.0'
