services:
  pgbackweb:
    image: eduardolat/pgbackweb:latest
    container_name: PGBackWeb
    restart: always
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/8085' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    ports:
      - 8085:8085
    environment:
      PBW_ENCRYPTION_KEY: Itapi2580!
      PBW_POSTGRES_CONN_STRING: postgresql://pgbackwebuser:pgbackwebpass@pgbackweb-db:5432/pgbackweb?sslmode=disable
    volumes:
      - /APP/pgbackwebdb/backups:/backups:rw
    depends_on:
      pgbackweb-db:
        condition: service_healthy

  pgbackweb-db:
    image: postgres:17
    hostname: pgbackweb-db
    container_name: PGBackWeb-DB
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: pgbackwebuser
      POSTGRES_DB: pgbackweb
      POSTGRES_PASSWORD: pgbackwebpass
    volumes:
      - /APP/pgbackwebdb:/var/lib/postgresql:rw
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "pgbackweb", "-U", "pgbackwebuser"]
      timeout: 45s
      interval: 10s
      retries: 10
